<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Класи')}"></th:block>
    <link rel="stylesheet" href="/css/classes_style.css">
</head>

<body>
    <div class="wrapper">
        <header th:insert="~{blocks/header.html :: header}"></header>
        <main class="main">
            <div class="main__container _container">
                <h1> Мої класи </h1>
                <h2> Класи, в яких ви є учасником </h2>
                <div class="classes">
                    <div th:each="class : ${classes}" th:object="${class}" class="classes__class">
                        <a th:text="|Клас *{name}, вчителя *{teacher.lastName} *{teacher.firstName[0]}. *{teacher.patronymic[0]}.|"
                           class="classes__class-name"></a>
                        <table class="classes__class-table">
                            <tr>
                                <th>Username</th>
                            </tr>
                            <tr th:each="student : *{students}">
                                <td th:text="${student.username}"></td>
                            </tr>
                        </table>
                        <td><form th:action="@{|/classes/leaveClass/*{id}|}" th:method="post">
                            <input type="submit" value="Вийти з класу">
                        </form></td>
                    </div>
                </div>
                <h2 th:if="${isTeacher}"> Класи, в яких ви є вчителем </h2>
                <div th:if="${isTeacher}" class="classes">
                    <div th:each="myClass : ${myClasses}" class="classes__class">
                        <a th:text="${myClass.name}" class="classes__class-name"></a>
                        <table class="classes__class-table">
                            <tr>
                                <th>Username</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr th:each="student : ${myClass.students}">
                                <td th:text="${student.username}"></td>
                                <td>
                                    <a th:href="@{|/users/profile/${student.id}|}">
                                        Докладніше
                                    </a>
                                </td>
                                <td><form th:action="@{|/classes/removeUser/${myClass.id}/${student.id}|}" th:method="post">
                                    <input type="submit" value="Вигнати">
                                </form></td>
                            </tr>
                        </table>
                        <a th:href="@{|/classes/inviteUser/${myClass.id}|}">Додати користувача</a>
                        <form th:action="@{|/classes/removeClass/${myClass.id}|}" th:method="post">
                            <input type="submit" value="Видалити клас">
                        </form>
                    </div>
                    <a th:href="@{/classes/createClass}">Створити клас</a>
                </div>
            </div>
        </main>
        <footer th:replace="~{blocks/footer.html :: footer}"></footer>
    </div>
</body>

</html>