<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
  <th:block th:replace="~{blocks/head.html :: head (page_name = 'Створити клас')}"></th:block>
</head>

<body>
<div class="wrapper">
  <header th:insert="~{blocks/header.html :: header}"></header>
  <main class="main">
    <div class="main__container _container">

      <h1> Сторінка створення класу </h1>

      <section class="tb_section">
        <form class="tb_form" th:method="post" th:action="@{/classes/createClass}" th:object="${newClass}">
          <div class="tb_table_info-border">
            <table class="tb_table_info">
              <tr>
                <td><label for="name">Назва </label></td>
                <td><input class="tb_input" type="text" id="name" th:field="*{name}"/></td>
              </tr>
              <tr>
                <td class="tb_td_active" colspan="2">
                  <input class="tb_button _green" type="submit" value="Створити клас"/>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </section>

    </div>
  </main>
  <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>