<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="blocks/head.html :: head (page_name = 'Ігри')"></th:block>
    <link rel="stylesheet" href="/css/games_style.css">
</head>

<body>
    <div class="wrapper">
        <header th:insert="~{blocks/header.html :: header}"></header>
        <main class="main">
            <div class="main__container _container">
                <h1> Ігри </h1>
                <h2> Завдання для Вас </h2>
                <div class="elements">
                    <a th:each="task : ${tasks}" class="elements__task" th:href="@{|/games/${task.id}/play|}"
                       th:object="${task}">

                        <div class="elements__task-container">
                            <table class="elements__task-container-table">
                                <tr>
                                    <th>Гра:</th>
                                    <td th:text="*{gameName}"/>
                                </tr>
                                <tr>
                                    <th>Складність:</th>
                                    <td th:text="|*{difficulty}%|"/>
                                </tr>
                                <tr>
                                    <th>Вчитель:</th>
                                    <td th:text="|*{teacher.lastName} *{teacher.firstName[0]}. *{teacher.patronymic[0]}.|"/>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
                <h2 th:if="${isTeacher}"> Завдання від Вас </h2>
                <div th:if="${isTeacher}" class="elements">
                    <a th:each="myTask : ${myTasks}" class="elements__task" th:href="@{|/games/${myTask.id}/edit|}"
                       th:object="${myTask}">

                        <div class="elements__task-container">
                            <table class="elements__task-container-table">
                                <tr>
                                    <th>Гра:</th>
                                    <td th:text="*{gameName}"/>
                                </tr>
                                <tr>
                                    <th>Складність:</th>
                                    <td th:text="|*{difficulty}%|"/>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
                <h2> Вільний режим </h2>
                <div class="elements">
                    <a class="elements__game" href="/games/shulte">
                        <div class="elements__game-container">
                            <div class="elements__game-icon">
                                <img src="/img/games/table.png" alt="" class="elements__game-icon-img">
                            </div>
                            <div class="elements__game-name">Таблиця Шульте</div>
                        </div>
                    </a>
                    <a class="elements__game" href="/games/mole">
                        <div class="elements__game-container">
                            <div class="elements__game-icon">
                                <img src="/img/games/mole.jpg" alt="" class="elements__game-icon-img">
                            </div>
                            <div class="elements__game-name">Знайди крота</div>
                        </div>
                    </a>
                    <a class="elements__game" href="/games/compare">
                        <div class="elements__game-container">
                            <div class="elements__game-icon">
                                <img src="/img/games/compare.jpg" alt="" class="elements__game-icon-img">
                            </div>
                            <div class="elements__game-name">Де більше?</div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <footer th:replace="~{blocks/footer.html :: footer}"></footer>
    </div>
</body>

</html>