<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TB - Ігри</title>
    <link rel="stylesheet" href="/css/common_style.css">
    <link rel="stylesheet" href="/css/games_style.css">
</head>

<body>
    <div class="wrapper">
        <header th:insert="~{blocks/header.html :: header}"></header>
        <main class="main">
            <div class="main__container _container">
                <h1> Ігри </h1>
                <h2> Завдання для Вас </h2>
                <div class="elements">
                    <a th:each="task : ${tasks}" class="elements__task" href="#">
                        <div class="elements__task-container">
                            <table class="elements__task-container-table">
                                <tr>
                                    <th>Вчитель:</th>
                                    <td th:text="${task.getTeacherName()}"/>
                                </tr>
                                <tr>
                                    <th>Опції:</th>
                                    <td th:text="${task.getOptions()}"/>
                                </tr>
                                <tr>
                                    <th>Гра:</th>
                                    <td th:text="${task.getGame_name()}"/>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
                <h2 th:if="${isTeacher}"> Завдання від Вас </h2>
                <div th:if="${isTeacher}" class="elements">
                    <a th:each="myTask : ${myTasks}" class="elements__task" href="#">
                        <div class="elements__task-container">
                            <table class="elements__task-container-table">
                                <tr>
                                    <th>Вчитель:</th>
                                    <td th:text="${myTask.getTeacherName()}"/>
                                </tr>
                                <tr>
                                    <th>Опції:</th>
<!--                                    <td th:text="${#strings.arraySplit(task.getOptions(), ';')[3]}"/>-->
                                    <td th:text="${myTask.getOptions()}"/>
                                </tr>
                                <tr>
                                    <th>Гра:</th>
                                    <td th:text="${myTask.getGame_name()}"/>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
                <h2> Вільний режим </h2>
                <div class="elements">
                    <a class="elements__game" href="/games/shulte">
                        <div class="elements__game-container">
                            <div class="elements__game-icon">
                                <img src="/img/games/table.png" alt="" class="elements__game-icon-img">
                            </div>
                            <div class="elements__game-name">Таблиця Шульте</div>
                        </div>
                    </a>
                    <a class="elements__game" href="/games/mole">
                        <div class="elements__game-container">
                            <div class="elements__game-icon">
                                <img src="/img/games/mole.jpg" alt="" class="elements__game-icon-img">
                            </div>
                            <div class="elements__game-name">Знайди крота</div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <footer th:insert="~{blocks/footer.html :: footer}"></footer>
    </div>
</body>

</html>