<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Домашня сторінка')}"></th:block>
</head>

<body>
<div class="wrapper">
    <header th:replace="~{blocks/header.html :: header}"></header>
    <main class="main">
        <div class="main__container _container">
            <h1> Домашня сторінка </h1>
            <div class="main__container-body">
                <div class="tb_padding">
                    Привіт усім від нас, команди сайту, який присвячений розвитку когнітивних функцій мозку! Ми раді
                    вас вітати тут і поділитися захоплюючими можливостями, які ми надаємо.
                </div>
                <div class="tb_padding">
                    Наша мета надати вам необхідні ігри-тренажери, які допомагають вам розширити свої когнітивні
                    здібності
                    та збільшити пластичність вашого мозку. Ці ігри розроблені з використанням передових наукових
                    досліджень і методів, щоб надати вам ефективний і захоплюючий спосіб досягти кращого
                    когнітивного функціонування.
                </div>
                <div class="tb_padding">
                    На нашому сайті ви знайдете широкий вибір ігор-тренажерів, які висувають вам виклик у різних
                    категоріях, таких як пам'ять, увага, логіка та креативність. Кожна гра ретельно підібрана і
                    спроектована з урахуванням ваших індивідуальних потреб.
                </div>
                <div class="tb_padding">
                    Ми прагнемо створити вам навколишнє середовище, яке спонукає до розвитку вашого мозку і
                    вдосконалення вашого когнітивного потенціалу. Завдяки нашим іграм-тренажерам, ви можете
                    розвивати свою креативність, зосередженість та розумові навички весело і захоплююче.
                </div>
                <div class="tb_padding">
                    Ми запрошуємо вас приєднатися до нашої спільноти і зробити перший крок на шляху до покращення
                    когнітивних функцій вашого мозку. Розгляньте наші ігри-тренажери, спробуйте нові виклики і
                    відчуйте, як ваш мозок розширює свої можливості.
                </div>
                <div class="tb_padding">
                    Розпочніть вашу когнітивну подорож разом з нами. Розумний тренажер для вашого розуму - це те, що
                    ви знайдете на нашому сайті.
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>