<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"/>
    <link rel="stylesheet" href="/css/common_style.css">
</head>

<body>
    <div class="wrapper">
        <header th:insert="~{blocks/header.html :: header}"></header>
        <main class="main">
            <div class="main__container _container">
                <h1> Мій профіль </h1>
                <h2>[[${username}]]</h2>
                <div class="main__container-body">
                    <form th:method="post" th:action="@{/user/profile}">
                        <label for="password">Пароль : </label>
                        <input type="password" id="password" name="password"/>

                        <input type="submit" value="Зберігти зміни"/>
                    </form>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Вийти з аккаунту"/>
                    </form>
                </div>
            </div>
        </main>
        <footer th:insert="~{blocks/footer.html :: footer}"></footer>
    </div>
</body>

</html>