<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Профіль')}"></th:block>
    <script th:if="${is_teacher} or !${is_guest}" type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:if="${is_teacher} or !${is_guest}" type="text/javascript" th:inline="javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drowShulte);
        google.charts.setOnLoadCallback(drowMole);
        google.charts.setOnLoadCallback(drowCompare);

        function drowShulte() {
            let data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', 'Оцінка');
            data.addColumn('number', 'Складність');
            data.addRows([
                /*[# th:each="row : ${chart_data.get('Таблиця Шульте')}"]*/
                [new Date(/*[[${row[0]}]]*/), /*[[${row[1]}]]*/ 0, /*[[${row[2]}]]*/ 0],
                /*[/]*/
            ]);
            let options = {
                legend: {
                    position: 'top'
                },
                title: 'Таблиця Шульте',
                hAxis: {format: 'dd.MM.yyyy', title: 'Дата виконання'},
                pointSize: 10,
                seriesType: 'line',
                explorer: {axis: 'horizontal', maxZoomIn: .05}
            };

            let chart = new google.visualization.ComboChart(document.getElementById('shulte_chart'));
            chart.draw(data, options);
        }

        function drowMole() {
            let data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', 'Оцінка');
            data.addColumn('number', 'Складність');
            data.addRows([
                /*[# th:each="row : ${chart_data.get('Знайди крота')}"]*/
                [new Date(/*[[${row[0]}]]*/), /*[[${row[1]}]]*/ 0, /*[[${row[2]}]]*/ 0],
                /*[/]*/
            ]);
            let options = {
                legend: {
                    position: 'top'
                },
                title: 'Знайди крота',
                hAxis: {format: 'dd.MM.yyyy', title: 'Дата виконання'},
                pointSize: 10,
                seriesType: 'line',
                explorer: {axis: 'horizontal', maxZoomIn: .05}
            };

            let chart = new google.visualization.ComboChart(document.getElementById('mole_chart'));
            chart.draw(data, options);
        }

        function drowCompare() {
            let data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            data.addColumn('number', 'Оцінка');
            data.addColumn('number', 'Складність');
            data.addRows([
                /*[# th:each="row : ${chart_data.get('Де більше?')}"]*/
                [new Date(/*[[${row[0]}]]*/), /*[[${row[1]}]]*/ 0, /*[[${row[2]}]]*/ 0],
                /*[/]*/
            ]);
            let options = {
                legend: {
                    position: 'top'
                },
                title: 'Де більше?',
                hAxis: {format: 'dd.MM.yyyy', title: 'Дата виконання'},
                pointSize: 10,
                seriesType: 'line',
                explorer: {axis: 'horizontal', maxZoomIn: .05}
            };

            let chart = new google.visualization.ComboChart(document.getElementById('compare_chart'));
            chart.draw(data, options);
        }

        window.addEventListener("resize", function () {
            drowShulte();
            drowMole();
            drowCompare();
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header th:replace="~{blocks/header.html :: header}"></header>
    <main class="main">
        <div class="main__container _container">
            <h1> Профіль користувача </h1>
            <div class="main__container-body">

                <section class="tb_section _flex">
                    <h2> Загальна інформація </h2>

                    <table class="tb_table_info">
                        <tr th:if="${is_teacher} or ${!is_guest}">
                            <th>Логін :</th>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <th>Прізвище :</th>
                            <td th:text="${user.lastName}"></td>
                        </tr>
                        <tr>
                            <th>Ім'я :</th>
                            <td th:text="${user.firstName}"></td>
                        </tr>
                        <tr>
                            <th>По батькові :</th>
                            <td th:text="${user.patronymic}"></td>
                        </tr>
                    </table>
                    <form th:unless="${is_guest}" th:action="@{/logout}" method="post">
                        <input class="tb_button _red tb_margin" type="submit" value="Вийти з аккаунту"/>
                    </form>
                </section>

                <section th:unless="${is_guest}" class="tb_section _flex">
                    <h2> Зміна паролю </h2>

                    <form class="tb_form" th:method="post" th:action="@{/users/profile/editPassword}">
                        <div class="tb_table_info-border">
                            <table class="tb_table_info">
                                <tr>
                                    <td><label for="password_new">Новий пароль </label></td>
                                    <td><input class="tb_input" type="password" id="password_new" name="password_new"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_td_active" colspan="2">
                                        <input class="tb_button _green" type="submit" value="Зберігти зміни"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </section>

                <section th:if="${is_teacher} or !${is_guest}" id="history" class="tb_section">
                    <h2> Історія роботи </h2>

                    <div class="tb_table-responsive">
                        <table class="tb_table">
                            <tr>
                                <th>Дата</th>
                                <th>Гра</th>
                                <th>Результат</th>
                                <th>Складність</th>
                            </tr>
                            <tr th:each="mark : ${page.content}">
                                <td th:text="${#temporals.format(mark.date, 'dd.MM.yyyy (HH:mm)')}"/>
                                <td th:text="${mark.gameName}"/>
                                <td th:text="${mark.mark} < 0 ? 'Зроблено' : ${mark.mark}"/>
                                <td th:text="${mark.difficulty}"/>
                            </tr>
                        </table>
                    </div>

                    <div class="tb_pages-container">
                        <ul class="tb_pages" th:if="${page.getTotalPages() > 0}">
                            <li th:each="page_number : ${page_numbers}">
                                <a th:class="${page_number == page.number} ? active"
                                   th:href="@{|/users/profile/${user.id}?page=${page_number}#history|}"
                                   th:text="${page_number + 1}"/>
                            </li>
                        </ul>
                    </div>
                </section>


                <section class="tb_section" th:if="${is_teacher} or !${is_guest}">
                    <h2> Графіки результатів роботи </h2>
                    <div class="tb_chart" id="shulte_chart"></div>
                    <div class="tb_chart" id="mole_chart"></div>
                    <div class="tb_chart" id="compare_chart"></div>
                </section>
            </div>
        </div>
    </main>
    <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>
</html>