<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
  <th:block th:replace="blocks/head.html :: head (page_name = 'Реєстрація')"></th:block>
</head>

<body>
<div class="wrapper">
  <header th:insert="~{blocks/header.html :: header}"></header>
  <main class="main">
    <div class="main__container _container">

      <h1> Сторінка реєстрації </h1>

      <div th:text="${message}"></div>

      <form th:method="post" th:action="@{/registration}" th:object="${user}">

        <div>
          <label for="username">Логін : </label>
          <input type="text" id="username" th:field="*{username}"/>
          <span th:if="${usernameError}" th:text="${usernameError}"/>
        </div>

        <div>
          <label for="first_name">Ім'я : </label>
          <input type="text" id="first_name" th:field="*{firstName}"/>
          <span th:if="${firstNameError}" th:text="${firstNameError}"/>
        </div>

        <div>
          <label for="lastName">Прізвище : </label>
          <input type="text" id="lastName" th:field="*{lastName}"/>
          <span th:if="${lastNameError}" th:text="${lastNameError}"/>
        </div>

        <div>
          <label for="patronymic">По батькові : </label>
          <input type="text" id="patronymic" th:field="*{patronymic}"/>
          <span th:if="${patronymicError}" th:text="${patronymicError}"/>
        </div>

        <div>
          <label for="password">Пароль : </label>
          <input type="password" id="password" th:field="*{password}"/>
          <span th:if="${passwordError}" th:text="${passwordError}"/>
        </div>

        <div>
          <label for="password2">Повторіть пароль : </label>
          <input type="password" id="password2" name="password2"/>
          <span th:if="${password2Error}" th:text="${password2Error}"/>
        </div>

        <input type="submit" value="Зареєструватись"/>
      </form>

    </div>
  </main>
  <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>