<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Реєстрація')}"></th:block>
</head>

<body>
<div class="wrapper">
    <header th:replace="~{blocks/header.html :: header}"></header>
    <main class="main">
        <div class="main__container _container">

            <h1> Сторінка реєстрації </h1>

            <section class="tb_section">
                <form class="tb_form" th:method="post" th:action="@{/registration}" th:object="${user}">
                    <div class="tb_table_info-border">
                        <table class="tb_table_info">
                            <tr>
                                <td><label for="username">Логін</label></td>
                                <td><input class="tb_input"  type="text" id="username" th:field="*{username}"/></td>
                                <td th:if="${usernameError}" th:text="${usernameError}"/>
                            </tr>
                            <tr>
                                <td><label for="lastName">Прізвище</label></td>
                                <td><input class="tb_input" type="text" id="lastName" th:field="*{lastName}"/></td>
                                <td th:if="${last_nameError}" th:text="${last_nameError}"/>
                            </tr>
                            <tr>
                                <td><label for="first_name">Ім'я</label></td>
                                <td><input class="tb_input" type="text" id="first_name" th:field="*{firstName}"/></td>
                                <td th:if="${first_nameError}" th:text="${first_nameError}"/>
                            </tr>
                            <tr>
                                <td><label for="patronymic">По батькові</label></td>
                                <td><input class="tb_input" type="text" id="patronymic" th:field="*{patronymic}"/></td>
                                <td th:if="${patronymicError}" th:text="${patronymicError}"/>
                            </tr>
                            <tr>
                                <td><label for="password">Пароль</label></td>
                                <td><input class="tb_input" type="password" id="password" th:field="*{password}"/></td>
                                <td th:if="${passwordError}" th:text="${passwordError}"/>
                            </tr>
                            <tr>
                                <td><label for="password2">Повторіть пароль</label></td>
                                <td><input class="tb_input" type="password" id="password2" name="password2"/></td>
                                <td th:if="${password2Error}" th:text="${password2Error}"/>
                            </tr>
                            <tr>
                                <td class="tb_td_active" colspan="3"><input class="tb_button _green" type="submit" value="Зареєструватись"/></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </section>

        </div>
    </main>
    <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>