<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TB - Реєстрація</title>
  <link rel="stylesheet" href="/css/common_style.css">
</head>

<body>
<div class="wrapper">
  <header th:insert="~{blocks/header.html :: header}"></header>
  <main class="main">
    <div class="main__container _container">

      <h1> Сторінка реєстрації </h1>

      <form th:method="post" th:action="@{/registration}" th:object="${user}">

        <label for="username">Логін : </label>
        <input type="text" id="username" th:field="*{username}"/>

        <label for="password">Пароль : </label>
        <input type="password" id="password" th:field="*{password}"/>

        <input type="submit" value="Зареєструватись"/>
      </form>

    </div>
  </main>
  <footer th:insert="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>