<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Редагування користувача')}"></th:block>
    <link rel="stylesheet" href="/css/common_style.css">
</head>

<body>
<div class="wrapper">
    <header th:insert="~{blocks/header.html :: header}"></header>
    <main class="main">
        <div class="main__container _container">
            <div class="main__container-body">
                <h1> Сторінка редагування користувача [[${user.username}]] </h1>

                <section class="tb_section">
                    <h2> Зміна логіну </h2>

                    <form class="tb_form" th:action="@{/users/editUsername}" th:method="post">
                        <input type="hidden" name="user_id" th:value="${user.id}">
                        <div class="tb_table_info-border">
                            <table class="tb_table_info">
                                <tr>
                                    <td><label for="username">Логін </label></td>
                                    <td><input class="tb_input" type="text" id="username" name="username" th:value="${user.username}"/>
                                    </td>
                                    <td><span th:if="${usernameError}" th:text="${usernameError}"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_td_active" colspan="3">
                                        <input class="tb_button _green" type="submit" value="Зберігти зміни"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </section>

                <section class="tb_section">
                    <h2> Зміна ролей </h2>

                    <form class="tb_form" th:action="@{/users/editRoles}" th:method="post">
                        <input type="hidden" name="user_id" th:value="${user.id}">
                        <div class="tb_table_info-border">
                            <table class="tb_table_info">
                                <tr>
                                    <td><label for="username">Ролі </label></td>
                                    <td>
                                    <span th:each="role : ${roles}">
                                        <label>
                                            <input type="checkbox" th:name="${role}"
                                                   th:checked="${user.roles.contains(role)}">
                                            [[${role}]]
                                        </label>
                                    </span>
                                    </td>
                                    <td><span th:if="${rolesError}" th:text="${rolesError}"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_td_active" colspan="3">
                                        <input class="tb_button _green" type="submit" value="Зберігти зміни"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>