<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk" th:xmllang="uk">

<head>
    <th:block th:replace="~{blocks/head.html :: head (page_name = 'Контроль користувачів')}"></th:block>
</head>

<body>
<div class="wrapper">
    <header th:insert="~{blocks/header.html :: header}"></header>
    <main class="main">
        <div class="main__container _container">
            <h1> Список існуючих користувачів </h1>
            <div class="main__container-body">
<!--                <form th:method="post" th:action="@{user/filter}">-->
<!--                    <input type="text" name="username" placeholder="Логін користувача">-->
<!--                    <button type="submit">Знайти користувача</button>-->
<!--                </form>-->
                <ul th:if="${page.getTotalPages() > 0}">
                    <li th:each="page_number : ${page_numbers}" th:class="${page_number == page.number} ? active">
                        <a th:href="@{'/users?page=' + ${page_number}}" th:text="${page_number + 1}"/>
                    </li>
                </ul>
                <table>
                    <tr>
                        <th>Логін</th>
                        <th>Ролі</th>
                        <th>ФІО</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="user : ${page.content}">
                        <td th:text="${user.username}"/>
                        <td><div th:each="role : ${user.roles}" th:text="${role}"/></td>
                        <td th:text="|${user.lastName} ${user.firstName[0]}. ${user.patronymic[0]}.|"/>
                        <td><a th:href="@{|/users/edit/${user.id}|}">Редагувати</a></td>
                        <td><form th:action="@{|/users/remove/${user.id}|}" th:method="post">
                                <button type="submit">Видалити</button>
                        </form></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer th:replace="~{blocks/footer.html :: footer}"></footer>
</div>
</body>

</html>