<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header" class="header">
  <div class="header__container _container">
    <a class="header__container-logo" href="/home">
      <img src="/img/logo.png" alt="" class="header__container-logo-icon">
    </a>
    <nav class="header__container-nav">
      <div class="link_container">
        <a class="header__container-nav-link _home" href="/home">
          <img src="/img/home.png" alt="" class="header__container-nav-link-icon">
          Дім
        </a>
      </div>
      <div class="link_container">
        <a class="header__container-nav-link _games" href="/games">
          <img src="/img/play.png" alt="" class="header__container-nav-link-icon">
          Ігри
        </a>
      </div>
      <div class="link_container">
        <a class="header__container-nav-link _classes" href="/classes">
          <img src="/img/users.png" alt="" class="header__container-nav-link-icon">
          Класи
        </a>
      </div>
      <div class="link_container" sec:authorize="hasAuthority('ADMIN')">
        <a class="header__container-nav-link _help" href="/users">
          <img src="/img/admin.png" alt="" class="header__container-nav-link-icon">
          Адмін
        </a>
      </div>
      <div class="link_container">
        <a class="header__container-nav-link _profile" href="/users/profile">
          <img src="/img/user.png" alt="" class="header__container-nav-link-icon">
          Профіль
        </a>
      </div>
    </nav>
  </div>
</header>