<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header" class="header">
  <div class="header__container _container">
    <div class="link_container-logo">
      <a class="link_container-logo__link" href="/home">
        <img src="/img/logo.png" alt="" class="logo"/>
        <div>Train Brain</div>
      </a>
    </div>

    <nav class="header__container-nav">
      <div class="link_container">
        <a class="link_container__link _red" href="/home">
          <img src="/img/home.png" alt="" class="link_container__link-icon"/>
          <span>Дім</span>
        </a>
      </div>
      <div class="link_container" sec:authorize="isAuthenticated()">
        <a class="link_container__link _orange" href="/games">
          <img src="/img/play.png" alt=""/>
          <span>Ігри</span>
        </a>
      </div>
      <div class="link_container" sec:authorize="isAuthenticated()">
        <a class="link_container__link _yellow" href="/classes">
          <img src="/img/users.png" alt=""/>
          <span>Класи</span>
        </a>
      </div>
      <div class="link_container" sec:authorize="hasAuthority('ADMIN')">
        <a class="link_container__link _green" href="/users">
          <img src="/img/admin.png" alt=""/>
          <span>Адмін</span>
        </a>
      </div>
      <div class="link_container">
        <a class="link_container__link _white" href="/users/profile">
          <img src="/img/user.png" alt=""/>
          <span sec:authorize="isAuthenticated()">Профіль</span>
          <span sec:authorize="isAnonymous()">Увійти</span>
        </a>
      </div>
    </nav>
  </div>
</header>