<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header" class="header">
  <div class="header__container _container">
    <a class="header__container-logo" href="/home">
      <img src="/img/logo.png" alt="" class="header__container-logo-icon"/>
    </a>
    <nav class="header__container-nav">
      <div class="link_container">
        <a class="header__container-nav-link _red" href="/home">
          <img src="/img/home.png" alt="" class="header__container-nav-link-icon"/>
          Дім
        </a>
      </div>
      <div class="link_container" sec:authorize="isAuthenticated()">
        <a class="header__container-nav-link _orange" href="/games">
          <img src="/img/play.png" alt="" class="header__container-nav-link-icon"/>
          Ігри
        </a>
      </div>
      <div class="link_container" sec:authorize="isAuthenticated()">
        <a class="header__container-nav-link _yellow" href="/classes">
          <img src="/img/users.png" alt="" class="header__container-nav-link-icon"/>
          Класи
        </a>
      </div>
      <div class="link_container" sec:authorize="hasAuthority('ADMIN')">
        <a class="header__container-nav-link _green" href="/users">
          <img src="/img/admin.png" alt="" class="header__container-nav-link-icon"/>
          Адмін
        </a>
      </div>
      <div class="link_container">
        <a class="header__container-nav-link _white" href="/users/profile">
          <img src="/img/user.png" alt="" class="header__container-nav-link-icon"/>
          <span sec:authorize="isAuthenticated()">Профіль</span>
          <span sec:authorize="isAnonymous()">Увійти</span>
        </a>
      </div>
    </nav>
  </div>
</header>